<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Binku Social Network Toolkit</title>
    <link rel="icon" href="~/Asset/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/Asset/css/main.min.css">
    <link rel="stylesheet" href="~/Asset/css/style.css">
    <link rel="stylesheet" href="~/Asset/css/color.css">
    <link rel="stylesheet" href="~/Asset/css/responsive.css">
</head>
<body>
    <div class="theme-layout">
        <!--ReponsiveHeader-->
        @{Html.RenderPartial("_ReponsiveHeaderPartial");}
        <!--End ReponsiveHeader-->

        <!--TopBarPartial-->
        @{Html.RenderPartial("_TopBarPartial");}
        <!--End TopBarPartial-->

        <!--Main Page-->
        @RenderBody()
        <!--End Main Page-->

        <!--Footer Page-->
        @{Html.RenderPartial("_FooterPartial");}

        <!--End Footer Page-->

        @{Html.RenderPartial("_SidePanelPartial");}
    </div>

    <!--Source Js-->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Asset/js/main.min.js"></script>
    <script src="~/Asset/js/script.js"></script>
    <script src="~/Asset/js/map-init.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    <!--End Source Js-->

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("Scripts", required: false)
</body>

</html>
